*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria;
}

.main{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.frame{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: pink solid 0.15em;
  border-radius: 5rem;
  color: pink;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  text-transform: uppercase;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #212121;
}

.button:active {
  border-color: rgb(168, 0, 120);
}

.button::after, .button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: pink;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, 
  background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: #ff4fcd;
}